.Header {
    width: 100vw;
    height: 540px;
    display: flex;
    justify-content: center;
    background-image: linear-gradient(white, #b9d4fa);
}

.Logo {
    width: 350px;
    height: 110px;
    position: absolute;
    top: 80px;
}

.ThatText {
    font-size: 12px;
    position: absolute;
    top: 240px;
    left: 60%;
}

.Notice {
    display: inline-block;
    width: 100%;
    height: 320px;
    background-color: gray;
    margin-top: 60px;
    margin-bottom: 60px;
}

.NewestRallyAndMore {
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.NewestRallyAndMore button{
    width: 110px;
    height: 100%;
}