.container {
    display: flex;
    font-weight: 400;
}

.board {
    border-left: 1.5px solid #202020;
    width: 745px;
    padding-left: 55px;
}

.title {
    height: 60px;
    border-bottom: 1.5px solid #202020;
    font-weight: 700;
    font-size: 20px;
    display: flex;
    align-items: center;
}

.title h1 {
    font-weight: 700;
    font-size: 20px;
}

.list {
    height: 740px;
}

.category {
    display: flex;
    text-align: center;
    align-items: center;
    font-size: 14px;
    margin-top: 5px;
    height: 30px;
}

.select {
    width: 80px;
    height: 30px;
    border: none;
    margin-right: 10px;

}

.category div {
    flex-basis: 50px;
    flex-grow: 1;
    border-left: 1.5px solid #202020;
}

.category div:nth-child(3) {
    flex-grow: 5;
}