.HomeSearchFilter {
    /* border: 1px solid red; */
    background-color: white;
    border-radius: 5px;
    width: 660px;
    height: 250px;
    position: absolute;
    top: 260px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

form {
    width: 470px;
    /* height: 200px; */
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px 0px;
}

.RallyType {
    border: 1px solid red;
    height: 40px;
    width: 100%;
}

.QuestionButton {
    background-color: #056DFA;
    color: white;
    font-size: 14px;
    width: 25px;
    height: 25px;
    border: none;
    border-radius: 50%;
}

.RallyLocation {
    width: 100%;
    height: 35px;
    display: flex;
    justify-content: space-between;
}

.DistanceAndPeople {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.RallyDistance, .RallyPeople {
    display: flex;
    gap: 0px 10px;
    align-items: center;
}

.RallyLocation select{
    font-size: 14px;
    width: 150px;
    height: 35px;
    border: none;
    background-color: #F5F5F5;
    border-radius: 5px;
    padding-left: 5px;
}

.RallyLocation input{
    padding: none;
    width: 150px;
    height: 35px;
    border: none;
    background-color: #F5F5F5;
    border-radius: 5px;
    padding-left: 5px;
}

.MinusButton, .PlusButton {
    background-color: #7D7D7D;
    color: white;
    font-size: 14px;
    width: 35px;
    height: 35px;
    border: none;
    border-radius: 50%;
}

.Submit {
    width: 225px;
    height: 40px;
    margin: 0;
    padding: 0;
    font-size: 16px;
    background-color: white;
    border: 1.5px solid black;
    border-radius: 5px;
}