@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
/* font-family: 'Noto Sans KR', sans-serif; */

.HomeSearchFilter {
    /* border: 1px solid red; */
    background-color: white;
    border-radius: 5px;
    width: 660px;
    height: 250px;
    position: absolute;
    top: 260px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.HomeSearchFilter form {
    width: 470px;
    /* height: 200px; */
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px 0px;
}

.HomeSearchFilter button {
    font-family: 'Noto Sans KR', sans-serif;
}

.RallyType {
    border: 1px solid red;
    height: 40px;
    width: 100%;
}

.RallyType [value='ipmun'] {
    display: inline-block;
    width: 86px;
    height: 40px;
    background-color: white;
    color: #056DFA;
    font-weight: 500;
    font-size: 14px;
    border: 2px solid;
    border-color: #056DFA;
    border-radius: 5px 0px 0px 5px;
}

.RallyType [value='chobo'] {
    width: 86px;
    height: 40px;
    background-color: #60A3FF;
    color: white;
    font-weight: 500;
    font-size: 14px;
    border: 2px solid;
    border-color: #60A3FF;
}

.RallyType [value='jungsu'] {
    width: 86px;
    height: 40px;
    background-color: #056DFA;
    color: white;
    font-weight: 500;
    font-size: 14px;
    border: 2px solid;
    border-color: #056DFA;
}

.RallyType [value='gosu'] {
    width: 86px;
    height: 40px;
    background-color: #003ACE;
    color: white;
    font-weight: 500;
    font-size: 14px;
    border: 2px solid;
    border-color: #003ACE;
}

.RallyType [value='legend'] {
    width: 86px;
    height: 40px;
    background-color: #303030;
    color: white;
    font-weight: 500;
    font-size: 14px;
    border: 2px solid;
    border-color: #303030;
    border-radius: 0px 5px 5px 0px;
}

.selected {
    background-color: orange;
    color: #003ACE;
    font-weight: 900;
}

.RallyType [type='checkbox'] {
    /* opacity: 0; */
    display: none;
}

.QuestionButton {
    background-color: #056DFA;
    color: white;
    font-size: 14px;
    width: 25px;
    height: 25px;
    border: none;
    border-radius: 50%;
}

.RallyLocation {
    width: 100%;
    height: 35px;
    display: flex;
    justify-content: space-between;
}

.DistanceAndPeople {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.RallyDistance, .RallyPeople {
    display: flex;
    gap: 0px 10px;
    align-items: center;
}

.RallyLocation select{
    font-size: 14px;
    width: 150px;
    height: 35px;
    border: none;
    background-color: #F5F5F5;
    border-radius: 5px;
    padding-left: 5px;
}

.RallyLocation input{
    padding: none;
    width: 150px;
    height: 35px;
    border: none;
    background-color: #F5F5F5;
    border-radius: 5px;
    padding-left: 5px;
}

.MinusButton, .PlusButton {
    background-color: #7D7D7D;
    color: white;
    font-size: 14px;
    width: 35px;
    height: 35px;
    border: none;
    border-radius: 50%;
}

.Submit {
    width: 225px;
    height: 40px;
    margin: 0;
    padding: 0;
    font-size: 16px;
    background-color: white;
    border: 1.5px solid black;
    border-radius: 5px;
}